[Unit]
Description=Backups collector timer (every 12 hours)

[Timer]
OnCalendar=*-*-* 00/12:00:00
Persistent=true

[Install]
WantedBy=aggregator.target