[Unit]
Description=Aggregator timers target
Requires=aggregator-collector-hosts.timer aggregator-collector-storages.timer
After=timers.target

[Install]
WantedBy=multi-user.target