[Unit]
Description=Aggregator gunicorn server
After=network.target

[Service]
User=aggregator
Group=aggregator-group
WorkingDirectory=/app
EnvironmentFile=.env
ExecStart=/bin/bash -c 'source /app/flask-aggregator/bin/activate && gunicorn -w 10 -b 127.0.0.1:8000 --timeout 86400 flask_aggregator.front.app:app'
ExecStop=/bin/bash -c 'deactivate && /bin/kill -s TERM $MAINPID'
KillMode=mixed
TimeoutStopSec=30

[Install]
WantedBy=multi-user.target