<header>
    <h1>Virt aggregator</h1>
    <nav>
        <ul>
            <li><a href="{{ url_for('view', model_name='vms') }}">VMs</a></li>
            <li><a href="{{ url_for('view', model_name='hosts') }}">Hosts</a></li>
            <li><a href="{{ url_for('view', model_name='clusters') }}">Clusters</a></li>
            <li><a href="{{ url_for('view', model_name='storages') }}">Storages</a></li>
            <li><a href="{{ url_for('view', model_name='data_centers') }}">Data centers</a></li>
            <li><a href="{{ url_for('view', model_name='backups') }}">Backups</a></li>
        </ul>
    </nav>
</header>
<hr>