<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Virtualization aggregator</title>
    </head>
    <body>
        <div class="container">
            <h2>oVirt</h2>
            <a href="/ovirt/data_center_list">Data center list</a>
            <a href="/ovirt/cluster_list">Cluster list</a>
            <a href="/ovirt/host_list">Host list</a>
            <a href="/ovirt/vm_list">VM list</a>
            <a href="/ovirt/storage_domain_list">Storage domain list</a>
        </div>        
    </body>
</html>