{% extends "base.html" %}

{% block content %}
<form method="get" action="/view/{{ model_name }}">
    {% for key in filters.keys() %}
        <label for="{{ key }}">{{ key }}:</label>
        <input type="text" id="{{ key }}" name="{{ key }}" value="{{ filters[key] or '' }}">
    {% endfor %}
    {% if model_name == "backups" %}
        <label for="old_backups">Show backups:</label>        
        <select id="old_backups" name="old_backups">
            <option value="all">all</option>
            <option value="less">less than 2 days old</option>
            <option value="older">older than 2 days</option>
        </select>
    {% endif %}
    <button type="submit">Search</button>
</form>
<hr>
<div class="container">
    <table id="{{ model_name }}" class="display">
        <thead>
            <tr>
                {% for column in fields %}
                    {% if column != "href" %}
                        <th class="table-clickable-header" id="{{ column }}">{{ column }}</th>
                    {% endif %}
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for item in data %}
            <tr>
                {% if item.uuid %}
                    <td><a href="{{ item.href }}">{{ item.uuid }}</a></td>
                {% endif %}
                {% for column in fields %}
                    {% if column != "uuid" and column != "href" %}
                        <td>{{ getattr(item, column) }}</td>
                    {% endif %}
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div class="pagination">
    {% if page > 1 %}
        <a href="{{ get_pagination_url(page - 1) }}">Previous</a>
    {% endif %}
    {% for p in range(1, total_pages + 1) %}
        {% if p == page %}
            <strong>{{ p }}</strong>
        {% else %}
            <a href="{{ get_pagination_url(p) }}">{{ p }}</a>
        {% endif %}
    {% endfor %}
    {% if page < total_pages %}
        <a href="{{ get_pagination_url(page + 1) }}">Next</a>
    {% endif %}
    <hr>
    <label for="perPage">Elements per page:</label>
    <select id="perPage" onchange="updatePerPage()">
        <option value="10">10</option>
        <option value="25">25</option>
        <option value="50">50</option>
        <option value="100">100</option>
    </select>
    <label for="totalItems">Total items:</label>
    <span id="totalItems">{{ total_items }}</span>
</div>
{% endblock %}

{% block script %}
<script>
    const perPage = "{{ per_page }}";
    document.getElementById("perPage").value = perPage;
    function updatePerPage() {
        const selectedValue = document.getElementById("perPage").value;
        const currentUrl = new URL(window.location.href);
        currentUrl.searchParams.set('per_page', selectedValue);
        window.location.href = currentUrl.toString();
    };

    const sortBy = "{{ sort_by }}";
    var order = "{{ order }}";
    const table_clickable_headers = document.querySelectorAll('.table-clickable-header');
    table_clickable_headers.forEach(el => {
        el.addEventListener('click', function () {
            const header_id = this.id;
            const currentUrl = new URL(window.location.href);
            order = order === 'asc' ? 'desc' : 'asc';
            currentUrl.searchParams.set('sort_by', header_id);
            currentUrl.searchParams.set('order', order);
            window.location.href = currentUrl.toString();
        });
    });
</script>
{% endblock %}