body {
    font-family: Arial, Helvetica, sans-serif;
}

header nav ul {
    list-style-type: none;     
    padding: 0;
    margin: 0;
    display: flex;             
    gap: 10px;                 
}

header nav ul li {
    margin: 0;
}
header nav ul li a {
    display: block;
    padding: 10px 20px;        
    text-decoration: none;     
    color: white;              
    background-color: #007BFF; 
    border-radius: 5px;        
    transition: background-color 0.3s ease;
}

header nav ul li a:hover {
    background-color: #0056b3;
}

header nav ul li a:active {
    background-color: #003f7f;
}

.table-primary {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

.table-primary th {
    background-color: rgb(171, 193, 194);
    color: #003f7f;
    cursor: pointer;
    border-right: 1px solid black;
    padding: 2px;
}

.table-primary th:hover {
    background-color: aquamarine;
}

.table-primary td {
    border-right: 1px solid black;
    padding: 2px;
}

.table-primary tr:nth-child(even) {
    background-color: burlywood;
}

.table-primary tr:nth-child(even) {
    background-color: aliceblue;
}