<header>
    <h1>Virt aggregator</h1>
    <nav>
        <ul>
            <li><a href="/ovirt/vm_list">VMs</a></li>
            <li><a href="/ovirt/host_list">Hosts</a></li>
            <li><a href="/ovirt/cluster_list">Clusters</a></li>
            <li><a href="/ovirt/storage_domain_list">Storages</a></li>
            <li><a href="/ovirt/data_center_list">Data centers</a></li>
            <li><a href="{{ url_for('view', model_name=model_name) }}">VMs</a></li>
        </ul>
    </nav>
</header>
<hr>